{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Account</h1>
            <p>Manage tables and get URLs</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Tables</h2>
                <h2>Add new table</h2>
                <form class="form-inline" action="/account/createtable" method="POST">
                    <input class="form-control" type="text" name="tablenumber" placeholder="Table number or name">
                    <input class="btn btn-primary" type="submit" value="Create">
                </form>
                
            </div>
        </div>
    </div>
{% endblock %}